.contact-us {
    background-color: white !important;
}

.contact-us .grid-container {
    background-color: lightgray !important;
}

.contact-us .social-media-icon {
    width: 100px;
    height: 100px;
}

.contact-us .social-media-icon:hover {
    /*generated filter from orange color with https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(30%) sepia(51%) saturate(3894%) hue-rotate(359deg) brightness(101%) contrast(108%);    top: -.5vw;
    width: 120px;
    height: 120px;
    transition: width ease .25s, height ease .25s, top ease .25s;
}

.contact-us .text:hover {
    transform: scale(1.1);
    transition: transform ease .25s;
}

.contact-us .text span {
    color: #313131;
    font-family: 'Cinema';
    font-size: 60px;
}

.contact-us .text span:nth-child(3n) {
    color: orangered;
}

/* dextop version */
@media (min-width: 576px) {
    .contact-us .grid-container {
        clip-path: polygon(0% 0%, 50% 10%, 100% 0%, 100% 90%, 98.5% 90%, 50% 100%, 1.5% 90%, 0% 90%);
        padding: 10%;
    }

    .above-footer {
        height: 275px;
    }
}

/* mobile version */
@media (max-width: 575px) {
    .contact-us .grid-container {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        padding: 10%;
    }
}
