@font-face {
    font-family: 'Cinema';
    src: url("fonts/Cinema.ttf");
}

@media (min-width:576px) {
  .news-input{
    width: 50%;
  }
}
.logo{
  max-height: 40px;
}
body::before{
  display: block;
  content: '';
  height: 60px;
}
.lorembtn{
  border-radius: 30px;

}
#svg_5{
  stroke:none;
  fill: white;
}
.imgA {
  position: relative;
  z-index: 1;
  width: 70%;
  left: -25%;

}
#text:hover h6 {
  font-weight: bold;
  /* color: aqua */
}
section{
  min-height: 40vh;
}
#imgA1{
  position:absolute;
  z-index: 0;
  top: 2vw;
  right: 4vw;
}
#imgA1:hover{
  z-index:5;
}
.mycard{
  background-color: white;
  color: black;
}
#theme-toggler{
  color: black;
  background-color: wheat;
}
nav{
  z-index:6;
}
#wave{
  position: absolute;
  bottom:0;
  width:120%;
}
.zoom:hover {
  transform: scale(1.1);
}
@media(max-width:770px){
  #wave{
    display:none;
  }
  .imgA{
    right: 20%;
    position: relative;
  }
  #imgA1{
    display: none;
  }
}

@media(min-width: 600px){
  .card{
    flex-direction: row;
  }

  .card-body{
    max-width: 50%
  }

  .card-img{
    float: right;
    padding: 20px;
  }

  .card-text{
    font-size: large;
    margin-top: 15px ;
  }

}

@media(max-width: 600px){
  .card{
    flex-direction: column-reverse;
  }

}

.carousel-control{
  position: absolute;
  width: 20px;
  max-height: 20px;
  top:50%;
}

#left{
  left: -40px;
}

#right{
  right: -40px;
}

@font-face {
  font-family: 'b nazanin';
  src: url('?view');
  src: url('http://cdn.bayan.ir/blog/templates/shared/fonts/BNazanin.eot?view#iefix') format('embedded-opentype'),
    url('http://cdn.bayan.ir/blog/templates/shared/fonts/BNazanin.woff?view') format('woff'),
    url('http://cdn.bayan.ir/blog/templates/shared/fonts/BNazanin.ttf?view') format('truetype');
}

@font-face {
  font-family: 'sans';
  font-style: normal;
  font-weight: normal;
  src: url("http://bayanbox.ir/download/7254718425283737932/IRANSans.woff") format("woff");
}

@font-face {
	font-family: 'Gandom';
	src: url(http://bayanbox.ir/download/4529737118551011182/Gandom.ttf) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'yekan';
  src: url('http://cdn.bayan.ir/blog/templates/shared/fonts/BYekan.woff?download') format('woff');
  font-weight: normal;
  font-style: normal;
}

.card-text{
  font-size: medium;
  font-family: 'yekan';
}

