@media (min-width:768px) {
  .news-input{
    width: 50%;
  }
}
.logo{
  max-height: 40px;
}
body::before{
  display: block;
  content: '';
  height: 60px;
}
.lorembtn{
  border-radius: 30px;
  
}

.imgA {
	position:absolute;
  top: 4vw;
  left: 4vw;
	width:20vw;
	height:20vw;
  z-index: 3;
}
#imgA1{
  z-index: 1;
  top: 2vw;
  left: 2vw;
}
#imgA1:hover{ 
  z-index:555555;
}