@media (min-width:768px) {
  .news-input{
    width: 50%;
  }
}
.logo{
  max-height: 40px;
}
body::before{
  display: block;
  content: '';
  height: 60px;
}
.lorembtn{
  border-radius: 30px;
  
}
.imgA {
	 /* position:absolute; */
  top: 0px;
  left: 0px; 
  z-index: 3;
}
#imgA1{
  z-index: 1;
  top: 20px;
  left: 20px;
}
#imgA1:hover{ 
  z-index:555555;
}